// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$primary: red;
$secondary: blue;
$tertiary: green;
$text: purple;
$border: yellow;
$link: black;

body {
	color: $text;
	a {
		color: $link;
	}
}